header {
    background-image: url(/img/pattern.png);
    background-color: #4ea0ff;
    position: relative;
    height: 103px;
}


.logo {
    position: absolute;
    top: 40px;
    width: 207px;
    height: 49px;
}

.subtitle {
    color: #808080;
}

.author {
    color: #20a9e5;
}

.imgdescription {
    font-size: small;
    line-height: 0;
}