* {
    margin: 0;
}


body {
    margin: 0;
}

.container {
    padding: 0 15px;
}


header {
    background-color: #9cd6f4;
    height: 130px;
    padding-top: 70px;
    padding-bottom: 0%;
}

img {
    height: 55px;
}

main {
    padding-top: 50px;
    padding-bottom: 45px;
}

.author-date {
    color: grey;
}

.author-date .author {
    color: #4eaff4 
}

.author-date .date {
    font-size: 12px;
}